.activite_marseille {
	height: 500px;
	width: auto;
}

.activite_marseille figure {
	border-radius: 20px;
}

.activite_marseille figure img {
	border-radius: 20px 20px 0px 0px; 
}


.bloc_activite {
	display: flex;
	justify-content: space-between;
	height: 100%; 
}

.bloc_activite figure {
	box-shadow: 0px 0px 20px 20px #f2f2f2;
}

.bloc_activite figcaption {
	display: flex;
	align-items: center;
	margin-left: 15px;
	font-weight: bold;
}

.colonne1 {
	display: flex;
	width: 25%;
	height: 100%;

}

.colonne1 figure {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.colonne1 figure img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.colonne1 figcaption {
	height: 10%;
	display: flex;
}

.colonne2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	height: 100%;
}

.colonne2 figure img {
	width: 100%;
	height: 80%;
	object-fit: cover;
}

.colonne2 figcaption {
	height: 20%;
}

.figure_fort {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.figure_fort figure {

	width: 100%;
	height: 95%;
}

.figure_frioul {
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.figure_frioul figure{
	width: 100%;
	height: 95%;
}

.colonne3 {
	display: flex;
	width: 25%;
	height: 100%;

}

.colonne3 figure {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.colonne3 figure img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.colonne3 figcaption {
	height: 10%;
	display: flex;
}

.colonne4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25%;
	height: 100%;
}

.colonne4 figure {
	display: flex;
	flex-direction: column;
	height: 45%;
}

.colonne4 figure img {
	width: 100%;
	height: 80%;
	object-fit: cover;
}

.colonne4 figcaption {
	height: 20%;
}