*
{
	font-family: 'Raleway', arial, sans-serif;

}

#bloc_page
{
	width: 1200px;
	margin: auto;
}

/* HEADER */

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8em;
}

header nav ul
{
	display: flex;
}

header nav li
{
	list-style-type: none;
}

header nav a
{
	text-decoration: none;
	color: black;
}

#inscrire
{
	color: #0065fc;
	font-weight: bold;
}

#li_activité
{
	margin-left: 60px;
	margin-right: 60px;
}

header img
{
	width: auto;
	height: 50px;
}

header nav a:hover
{
	border-top: 1px solid #0065ff;
	color: #0065ff;

}

/* SECTION RECHERCHE */

#recherche
{
	font-size: 0.8em;
	margin-top: 20px;
}

#recherche h1
{
	font-size: 1.3em;
	margin-bottom: -10px;
	font-weight: bold;
}

#formulaire_recherche
{
	display: flex;
	height: 30px;
	margin-top: 20px;

}

input
{
	height: 30px;
	border: 1px solid #f2f2f2;
	border-radius: 0px 10px 10px 0px;
}

#formulaire_recherche i
{
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: auto;
	border-radius: 10px 0px 0px 10px
}

#bouton_recherche
{
	margin-left: -4px;
	color: white;
	background-color: #0065ff

}


/* SECTON RECHERCHE FILTRES */



#filtre_css
{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

#filtre_p
{
	margin-right: 30px;
	font-weight: bold;
}


#economie
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: #deebff;
	border: 2px solid #deebff;
	border-radius: 30px;
	z-index: 2;
	color: #0065ff;

}

#texte_economie
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 30px;
	margin-left: -15px;
	border: 2px solid #f2f2f2;
	border-radius: 0px 20px 20px 0px;
	z-index: 1;
	font-weight: bold;
}


#familial
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: #deebff;
	border: 2px solid #deebff;
	border-radius: 30px;
	z-index: 2;
	color: #0065ff;
	margin-left: 30px;

}

#texte_familial
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 30px;
	margin-left: -15px;
	border: 2px solid #f2f2f2;
	border-radius: 0px 20px 20px 0px;
	z-index: 1;
	font-weight: bold;
}


#romantique
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: #deebff;
	border: 2px solid #deebff;
	border-radius: 30px;
	z-index: 2;
	color: #0065ff;
	margin-left: 30px;

}

#texte_romantique
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 115px;
	height: 30px;
	margin-left: -15px;
	border: 2px solid #f2f2f2;
	border-radius: 0px 20px 20px 0px;
	z-index: 1;
	font-weight: bold;
}

#animaux
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: #deebff;
	border: 2px solid #deebff;
	border-radius: 30px;
	z-index: 2;
	color: #0065ff;
	margin-left: 30px;

}

#texte_animaux
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 30px;
	margin-left: -15px;
	border: 2px solid #f2f2f2;
	border-radius: 0px 20px 20px 0px;
	z-index: 1;
	font-weight: bold;
}


/* SECTION RECHERCHE FONTAWESOME INFORMATION */

#information
{
	display: flex;
	align-items: center;
	margin-top: 5px;
}

#information i
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0065fc;
	font-size: 0.7em;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	border: 2px solid #f2f2f2;
	border-radius: 30px

}



/* SECTION PRINCIPALE */


article
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	width: 700px;
	height: 600px;
	border: 1px solid #f2f2f2;
	border-radius: 20px;
	flex-wrap: wrap;
	z-index: 1;
}


aside
{
	display: flex;
	flex-direction: column;
	height: 600px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 20px;
}


#hebergements_populaires
{
	display: flex;
	justify-content: space-between;
	font-size: 0.9em;
}


#hebergements_populaires a
{
	text-decoration: none;
	color: black;
}


#Auberge_cannebiere
{
	background: url("images/hebergements/s/cannebiere_s.jpg") no-repeat;
	background-size: contain;
	height: 150px;
	z-index: 2;
}











































/* SECTION ACTIVITES */


#colonne2
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#colonne4
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#activites
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: green;
	height: 400px;
}
































































































































/* FOOTER */

footer
{
	background-color: #f2f2f2;
	display: flex;

}

#nos_hebergements
{
	margin-right: 225px;
	margin-left: 225px;
}

#a_propos
{
	margin-left: 50px;
}

footer nav ul
{
	list-style-type: none;
	margin-left: -40px;
}

footer nav a 
{
	text-decoration: none;
	color: black;
}

footer nav li
{
	margin-bottom: 15px;
}

footer nav
{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 0.8em;
}

footer p
{
	font-weight: bold;
}

footer nav a:hover
{
	color: #0065fc;
	border-bottom: 1px solid #0065fc;		/*Chox du bleu pour la couleur de hover pour rapperler les couleurs du site */

}