/* BLOC PAGE */

#bloc_page {
    width: 85%;
    margin: auto;
    height: auto;
}

.hebergement_et_populaire {
    display: flex;
    justify-content: space-between;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.en_tete {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.en_tete img {
    width: 50%;
    height: auto;
}

.en_tete a {
    color: black;
    text-decoration: none;
    padding: 1.5em;
}

.en_tete a:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.titre {
    display: flex;
    align-items: center;
}

.sous_titre {
    display: flex;
    align-items: center;
}

.categorie_recherche {
    display: flex;
    align-items: center;
}

.icone_recherche {
    height: 30px;
    width: 30px;
}

.icone_recherche i {
    height: 100%;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
}

header form {
    height: 30px;
    width: 30px;
    display: flex;
}

.barre_recherche {
    border: 1px solid #f2f2f2;
    height: 30px;
    width: 150px;

}

.bouton_recherche {
    background-color: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    height: 30px;
    width: 100px;

}

.categorie_filtre {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.ligne_filtre {
    display: flex;
}

.filtre_p {
    padding-right: 1em;
}

.filtre {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1em;
}

.filtre i {
    background-color: #deebff;
    border: 2px solid #deebff;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30px;
    z-index: 2;
    color: #0065fc;
}

.filtre p {
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    height: 30px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 40px;
    z-index: 1;
}

.filtre p:hover {
    background-color: #deebff;
    border-color: #deebff;
}

.information_nombre_logement {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

.information_nombre_logement i {
    width: 20px;
    height: 20px;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.information_nombre_logement p {
    padding-left: 10px;
}

/* ARTICLE HEBERGEMENT */

article {
    width: 65%;
    height: 600px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

}

.bloc_hebergement {
    display: flex;
    flex-direction: column;
    height: 80%;

}

.premiere_ligne {
    display: flex;
    height: 50%;
}

.deuxieme_ligne {
    display: flex;
    height: 50%;
}

article figure {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 90%;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
}

article figure img {
    object-fit: cover;
    height: 75%;
    border-radius: 20px 20px 0px 0px;
}

article figcaption {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
}

.nom_hebergement {
    font-weight: bold;
    font-size: 100%;

}

.prix_hebergement {
    font-size: 80%;
}

.etoile {
    display: flex;
    align-items: center;
    color: #0065fc;
    font-size: 80%;
}

.etoile_grise {
    display: flex;
    align-items: center;
    color: #d9d9d9;
}

/* ASIDE */

aside {
    width: 30%;
    height: 600px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.en_tete_populaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}


.bloc_populaire {
    display: flex;
    flex-direction: column;
    height: 90%;
}

aside figure {
    background-color: white;
    display: flex;
    height: 25%;
    border-radius: 20px;
    padding: 4px;
}

aside figure img {
    object-fit: cover;
    width: 40%;
    border-radius: 20px 0px 0px 20px;

}

aside figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.en_tete_hebergement_populaire {
    display: flex;
    flex-direction: column;
}

/* ARTICLE ACTIVITE */

.activite_marseille {
    height: 350px;
    width: auto;
}

.activite_marseille figure {
    border-radius: 20px;
}

.activite_marseille figure img {
    border-radius: 20px 20px 0px 0px; 
}


.bloc_activite {
    display: flex;
    justify-content: space-between;
    height: 100%; 
}

.bloc_activite figure {
    box-shadow: 0px 0px 20px 20px #f2f2f2;
}

.bloc_activite figcaption {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-weight: bold;
}

.colonne1 {
    display: flex;
    width: 25%;
    height: 100%;

}

.colonne1 figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.colonne1 figure img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.colonne1 figcaption {
    height: 10%;
    display: flex;
}

.colonne2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}

.colonne2 figure img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.colonne2 figcaption {
    height: 20%;
}

.figure_fort {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.figure_fort figure {

    width: 100%;
    height: 95%;
}

.figure_frioul {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.figure_frioul figure{
    width: 100%;
    height: 95%;
}

.colonne3 {
    display: flex;
    width: 25%;
    height: 100%;

}

.colonne3 figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.colonne3 figure img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.colonne3 figcaption {
    height: 10%;
    display: flex;
}

.colonne4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}

.colonne4 figure {
    display: flex;
    flex-direction: column;
    height: 45%;
}

.colonne4 figure img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.colonne4 figcaption {
    height: 20%;
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    display: flex;
}

.colonne {
    flex-basis: 35%
}



footer ul li {
    margin-top: 10px;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: black;
}

footer span {
    font-weight: bold;
}